* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(108, 183, 240); */
}
.back {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
}
.back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* overflow: hidden; */
}
.top {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: #1b1b1b; */
}
.workingarea {
  position: relative;
  height: 100vh;
  width: 80%;
  max-width: 1920px;
  /* border: 1px solid red; */
  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  /* background-color: antiquewhite; */
}
.nav img {
  width: 80px;
  margin-right: 25px;
}
.nleft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.nleft a {
  pointer-events: all;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.nright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.nright a {
  pointer-events: all;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.hero {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* height: 100px; */
  /* background-color: aliceblue; */
}
.heroleft {
  width: 50%;
  /* height: 100px; */
  /* background-color: bisque; */
}

.elem {
  position: relative;
  height: 9vw;
  /* background-color: red; */
  overflow: hidden;
}
.elem h1 {
  position: absolute;
  top: 100%;
  left: 0;
  font-family: "kajiro";
  color: white;
  font-weight: 100;
  font-size: 10vw;
}
.heroleft .elem h1:nth-child(1) {
  top: 0;
}
.heroleft button {
  pointer-events: all;
  cursor: pointer;
  padding: 0.8vw 3vw;
  padding-right: 2vw;
  font-size: 2.5vw;
  margin-top: 1.2vw;
  font-family: "kajiro";
  font-weight: 100;
  letter-spacing: 0.05vw;
}


.heroright {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* background-color: rgb(190, 130, 57); */
  color: white;
}
.heroright .imagecontainer {
  height: 170px;
  width: 100%;
  background-color: white;
  margin-bottom: 30px;
  background-image: url("https://images.unsplash.com/photo-1542596594-649edbc13630?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydHJhaXQlMjAlMjBpbiUyMHN1bmdsYXNzZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.heroright p {
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
}
.heroright p:nth-child(3) {
  margin-bottom: 40px;
}
.heroleft button{
  overflow: hidden;
}
button > svg {
  margin-right: 0px;
  margin-left: 5px;
  font-weight: 900;
  font-size: 20px;
  transition: all 0.3s ease-in;
}

button:hover > svg {
  font-size: 1.2em;
  transform: translateX(18px);
}

button:hover {
  /* box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff; */
  transform: translateY(-2px);
}

/* insta  */
.insta{
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.button {
    pointer-events: all;
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    background-color: #000;
  }
  
  .button:hover .button__icon-wrapper {
    color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }